	@font-face {
		font-family:twitch;
		src: url("DIMITRI.TTF")
	}
	@font-face {
		font-family:twitchhollow;
		src:url("DIMIS.TTF")
	}
	body {
		background: url("cebanner.jpg") no-repeat center center fixed;
	}
	header {
	}
	header h1 {
		color:gold;
		background:transparent;
		font-family:twitch;
		font-size:500%;
		text-align:center;
		position:relative;
	}
	nav ul {
		list-style-type:none;
		margin:;
	}
	nav ul li {
		display:inline-block;
		list-style:none;
		font-size:200%;
	}
	nav ul li a {
		padding:8px 30px;
		text-align:center;
		color:gold;
		background:darkgreen;
		font-family:twitch;
		text-decoration:none;
	}
	nav ul li a:hover {
		color:darkgreen;
		background:gold;
		font-family:twitchhollow;
	}
	article {
		float:left;
		width:71%;
		color:gold;
		background:transparent;
	}
	article h1 {
		color:gold;
		text-align:center;
		font-family:twitch;
		font-size:250%;
	}
	article p {
		color:;
		text-align:;
	}
	aside {
		float:right;
		width:21%;
		left:31%;
	}
	aside ul {
		list-style:none;
	}
	aside ul li {
		color:gold;
		background:darkgreen;
		font-family:twitchhollow;
		font-size:150%;
		text-align:center;
	}
